<%= render :partial => 'shared/navbar' %>

<div class="col" style="margin: 20px; padding: 20px">
  <div class="row">
    <div class="col-8">
      <h1 class="entry-title"><%= @article.title %></h1>
    </div>
    <div class="col-4" id="favorite-logo">
      <% if user_signed_in? %>
        <% if @article.is_favorite?(current_user) %>
          <%= link_to content_tag(
                        :i,
                        nil,
                        class: 'bi bi-bookmark-heart-fill web-font-sz fixed-right',
                      ), unfav_path(@article), method:"delete", remote: true %>
        <% else %>
          <%= link_to content_tag(
                        :i,
                        nil,
                        class: 'bi bi-bookmark-heart web-font-sz fixed-right'
                      ), fav_path(@article), method:"post" , remote: true %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row entry-meta">
    <span class="byline">by <%= current_user.name %></span>
  </div>
  <div class="row entry-content">
    <p><%= @article.description %></p>
  </div>
    <div class="row">
      <% if @article.user_id == current_user.id %>
        <div class="col">
            <%= link_to content_tag(
                          :i,
                          nil,
                          class: 'fa fa-pencil web-font-sz'
                        ), edit_article_path(@article) %>

            <%= link_to content_tag(
                          :i,
                          nil,
                          class: 'fa fa-trash-o web-font-sz'
                        ), article_path(@article),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
      <div class="col">
        <div style="float: right">
          <% if user_signed_in? %>
            <% if @article.liked?(current_user) %>
              <%= link_to content_tag(
                            :i,
                            nil,
                            class: 'bi bi-hand-thumbs-up-fill web-font-sz'
                          ), unlike_path(@article), method:"delete", remote: true %>
            <% else %>
              <%= link_to content_tag(
                            :i,
                            nil,
                            class: 'bi bi-hand-thumbs-up web-font-sz'
                          ), like_path(@article), method:"post" , remote: true %>
            <% end %>
          <% end %>
          <strong><%= @article.likes.count %> Likes</strong>
        </div>
      </div>
    </div>
  <div class="row" style="margin-top:10%">
    <%= render "comments/index", article: @comment %>
  </div>
  <div class="row comment-form">
    <%= render "comments/form", article: @article %>
  </div>
</div>

<%= render :partial => 'shared/footer' %>